div>button.im-close-button {
    background-color: transparent !important;
    border: none !important;
    font-size: 1.5rem !important;
    transition: color 0.2 !important;
}

div>.im-close-button:hover {
    cursor: pointer !important;
    color: #1976d2 !important;
}

div>div.im-modal-wrapper {
    width: auto !important;
    max-width: 90% !important;
    padding: 2rem !important;
}

.im-modal-wrapper>div.im-modal-content {
    padding: 3rem !important;
}
